input[type=text], select {
    width: 100%;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    border: none;
    text-decoration: none;
    cursor: pointer;
    color: #222;
	background-color: #AAA;
}

nav input[type=submit] {
    padding: 0px 0px;
    margin-right: 10px;
}

#lang_btn{
    color: #FFF;
    background: none;
    font-size: 100%;
}

#lang_btn:hover{
    color: #555;
	border-radius: 5%;
}

input[type=submit]:hover{
	color: white;
	background-color: #000;
}

footer right input[type=text]{
	height: 9vmax;
	width: 100%;
	margin: auto;
}

footer left form left input[type=text]{
    margin: 1%;
    width: 100%;
    float: left;
    font-size: 1vmax;
    height: 3vmax;
}

footer left form left select{
    margin: 1%;
    width: 100%;
    float: left;
    font-size: 1vmax;
    /*height: 3vmax;*/
}

footer left form input[type=submit]{
    margin: 0;
    width: 100%;
    float: right;
}

footer text{
	text-align: right;
	line-height: 3vh;
}

button {
    background-color: white;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #555555;
}

button:hover{
    background-color: #555555;
    color: white;
}

textarea{
    float: right; 
    width: 100%;
    height: 100%;
    resize: none;
}

#contacts form left input[type=text]{
    margin: 1%;
    width: 100%;
    float: left;
    font-size: 1vmax;
    height: 3vmax;
}

#contacts form input[type=submit]{
    margin: 1%;
    width: 40%;
    float: right;
}

/*p button {

}*/