nav menu .dropdown:first-child{
	display: none;
}

@media only screen and (max-width:720px) {	

    html {
        width: 100%;
        height: 100%;
    }
    
    body {
        width: 100%;
        height: 100%;
    }

	body{
		font-size: 5vmax;

		background-image: url("back.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		background-position: center center;
	}

	main_block{
		font-size: 3vmax;
		width: 100%;
	}

	footer{
		width: 100%;
		font: normal normal normal 2vmax helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;
	}

	footer left form{
		display: none;
	}

	consult_footer{
		display: block;
		height: 10vmax;
		padding-top: 4vmax;
	}

	consult_page block form div right textarea{
		width: 100%;
	}

	consult_page block form div left{
		width: 100%;
		margin: 0;
		margin-bottom: 10%;
	}

	br{
		font-size: 1px;
	}

	button{
		font-size: 2vmax;
	}

	block{
		margin-bottom: 5%;
	}

	center{
		width: 100%;
		text-align: center;
		margin-bottom: 5%;
	}

	left{
		width: 100%;
		text-align: center;
		margin-bottom: 5%;
	}

	right{
		width: 100%;
		text-align: center;
		margin-bottom: 5%;
	}

	nav menu ul{
		float: left;
		padding: 0;
	}

	menu a{
		font-size: 5vmax;
	}

	nav menu ul li:first-child{
		display: block;
		float: left;
	}

	nav menu ul li{
		display: none;
	}

	nav logo img{
		width: 40%;
	}

	consult{
		display: none;
	}

	menu {
		width: 100%;	
	}
}