.column {
    float: left;
    width: 30%;
    margin-bottom: 16px;
    padding: 0 8px;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(50, 50, 50, 0.2);
}

.container {
    padding: 0 12px;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: #FFF;
}

.container h2{
    font-size: 1em;
}