*{
	text-decoration: none;
	overflow-x: hidden;
}

a{
	text-decoration: none;
}

body{
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 20px;
	color: white;

	font: normal normal normal 16px/1.4em helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;

	background-image: url("back.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

nav{
	/*position: fixed;*/
	display: block;
	width: 100%;
}

.nav_fixed{
	position: fixed;
	top: 0;
	height: 10vh;
	z-index: 1;
}

.nav_fixed menu{
	background-color: rgb(50, 50, 50);
	width: 100%;
}

.nav_fixed menu li:hover .sub{
	background-color: rgb(50, 50, 50);
}

nav logo{
	display: block;
	width: 100%;
	text-align: center;
}

nav logo img{
	width: 30%;
}

space{
	display: block;
	width: 100%;
	margin-top: 2.5vh;
}

block{
	display: block;
	margin: auto;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	padding-top: 2%;
	padding-left: 2%;
}

main_block{
	display: block;
	width: 70%;
	margin: auto;
	margin-top: 0vh;
	/*background-color: rgba(0, 0, 0, 0.3);*/
}

footer{
	width: 68%;
	display: block;
	background-color: rgba(0, 0, 0, 0.3);
	text-align: center;
	color: white;
	margin: auto;
	padding: 1%;
	margin-top: 10vh;
}



footer right{
	text-align: right;
	width: 40%;
}

footer a{
	color: white;
}

footer a:hover{
	color: #CCC;
}

menu{
	display: block;
	width: 70%;
	margin: auto;
	border-bottom: 3px solid white;
	border-top: 3px solid white;
	text-align: left;
	padding-left: 0;

}

menu ul{
	margin: auto;
	width: 100%;
	padding: 0;
}

menu li:hover .sub{
	position: fixed;
	display: block;
	background-color: #424B5477;
}

menu li:first-child{
	display: none;
}

menu a{
	margin-right: 2vw;
	color: white;
}

menu li{
	float: left;
	padding-left: 1em;
	padding-right: 1em;
}

.sub{
	display: none;
	width: 10%; 
	border-radius: 2%;
}

.sub li{
	display: block;
	float: none;
	text-align: left;
	margin-top: 1%;
	margin-bottom: 1.5%;
}

menu .sub li:first-child{
	display: block;
}

.sub ul{
	width: 20px;
}

menu a:hover{
	color: #313A43;
	border-radius: 5%;
}

left{
	display: block;
	width: 40%;
	float: left;
	margin-left: 1vh;
}

right{
	display: block;
	width: 50%;
	float: right;
	margin: auto;
}

center{
	display: block;
	width: 60%;
	margin: auto;
}

text{
	color: black; 
	width: 100%;
	font-weight: bold;
	border-bottom: 0.5vmin solid white;
	border-top: 0.5vmin solid white;
	display: block;
	text-align: center;
}

iframe{
	margin: auto;
	width: 100%;
	height: 50vh;
}

btn{
	width: 50%;
	display: block;
	margin: auto; 
	color: #424B54;
	border: 1px solid #313A43;
	background-color: #FFF;	
}
			
btn:hover{
	background-color: #CCF;				
}

footer block{
	width: 100%;
}

footer right{
	width: 39%;
}

footer right text{
	float: right;
	padding-right: 1vmin;
}

footer left{
	width: 40%;
}

.hidden{
	display: none;
}

img:hover{
	opacity: 0.8;
}

mob_menu{
	display: block;
	position: fixed;
	height: 100vh;
	width: 60vw;
	top: 0;
	left: 0;
	background-color: rgb(50, 50, 50);
}

mob_menu{
	padding: 1vmin;
}

mob_menu a{
	text-decoration: none;
	color: white;
}

mob_menu #burger{
	font-size: 200%;
	color: #FFF;
	font-weight: bold;
}

footer left form left{
	width: 49%;
	float: left;
	margin: 0;
}

footer left form right{
	width: 49%;
	float: right;
	height: 10vmax;
	margin: 0;
}

#contacts{
	width: 100%;
}

#contacts form left{
	width: 49%;
	float: left;
	height: 10vmax;
	margin: 0;
}

#contacts form right{
	width: 49%;
	float: right;
	height: 10vmax;
	margin: 0;
}

#contacts form input[type=submit]{
	float: right;
}

consult{
	display: block;
	position: fixed;
	top: 90%;
	right: 2%;
	z-index: 1;
	padding: 0.5% 1%;
	border-radius: 20%;
	background: linear-gradient(#313A43, #101821);
	color: white;
	font-weight: bold;
	cursor: pointer;
}

consult_footer{
	display: none;
	padding: 0.5% 1%;
	border-radius: 20%;
	background: linear-gradient(#313A43, #101821);
	color: white;
	font-weight: bold;
	cursor: pointer;
	margin-top: 30%
}

consult:hover{
	color: #AAA;
	background: linear-gradient(#313A43, #101821);
}

consult_page{
	display: block;
	position: fixed;
	top: 0;
	height: 100vh;
	width: 100vw;
	z-index: 20;
	background: #313A43BB;
}

h2{
	margin-left: 1%;
}

#slider{
	width: 90%;
}

consult_page #contacts{
	height: 100%;
}

consult_page #contacts form{
	height: 20vmax;
}

consult_page #contacts form left{
	height: 20vmax;
}

consult_page #contacts form right{
	height: 20;
}